*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1rem 2rem;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detail{
    margin-left: 8%;
    margin-top: 15%;
}

.detail h1{
    font-size: 5rem;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.detail p{
    color: #555;
    line-height: 2.2rem;
}

.detail a{
    background: #212121;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 3rem 0;
    border-radius: 4rem;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 10rem;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .pic{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 2rem;
}

.social a{
    font-size: 3rem;
    color: #1f08f0;
    margin-right: 2rem;
}

.social a:hover{
    color: orange;
}

/* about me section  */

#part2{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85));
  margin-top: 1.5rem;
  position: relative;
}

.png{
  width: 40%;
  height: 84%;
}

.navbar{
  width: 85%;
  margin-left: 32%;
  padding: 3.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

/* .logo{
  width: 170px;
  cursor: pointer;
} */

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
}

.navbar ul li a:hover{
  color: #0751ff;
}

/* .navbar ul li::after{
  content: '';
  height: 2px;
  width: 0;
  background: #0751ff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
} */

.content{
  width: 65%;
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.title{
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 10rem;
  font-weight: bold;
  height: 10rem;
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  overflow: hidden;
}

.content p{
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 2.5rem;
}

button{
  padding: 1.5rem 2.5rem;
  margin: 2rem  ;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to left, transparent 50%, #0751ff 50%);
  background-size: 200%;
  background-position: right;
  transition: background-position 1s;
}

button:hover{
  background-position: left;
}

.slider{
  color: #0751ff;
  margin-left: 1.2rem;
  box-sizing: border-box;
  animation: slider 6s linear infinite;
}

@keyframes slider{
  0%{margin-top: 20rem;}
  30%{margin-top: 20rem;}
  35%{margin-top: 0rem;}
  65%{margin-top: 0rem;}
  70%{margin-top: -20rem;}
  100%{margin-top: -20rem;}
}
            

@media (max-width: 900px){
      ul{display: none;
        }
        nav{
          justify-content: center;
        }
  .detail{
    display: flex;
    flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;

  margin-top: 0;
  margin-left: 0;
  }
   .images{
display: none;
}

.social{
  text-align: center;
}


@media (max-width : 500px){
.part2 .ul{
display: none;
} 
.part2 .png{
  display: none;
}
.part2 .content{
  width: 5rem;
}

}